POSTGRES_USER=devops
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=gitlab_metrics

N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=CHANGE_ME
N8N_ENCRYPTION_KEY=CHANGE_ME

GRAFANA_ADMIN_PASSWORD=CHANGE_ME

POSTGRES_HOST_USER=devops
POSTGRES_HOST_PASSWORD=CHANGE_ME
